.dark a{
color: #CEB888;
}

.dark i{
color: #CEB888;
}

.dark button{
color: #CEB888;
border-color: #CEB888;
}

.dark a:hover{
color: #CEB888;
}

.dark .card h4 a {
    color: #CEB888;
}

figcaption {
  text-align: center;
}